<html>

<head>
  <title>API Explorer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&family=Urbanist:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-neutral-950 text-neutral-100 font-[Urbanist] px-64 py-32">
  <h1 class="flex items-center gap-2 whitespace-nowrap mb-20 text-4xl font-semibold text-neutral-50">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="text-5xl text-teal-500 iconify iconify--tabler" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m11.414 10l-7.383 7.418a2.091 2.091 0 0 0 0 2.967a2.11 2.11 0 0 0 2.976 0L14.414 13m3.707 2.293l2.586-2.586a1 1 0 0 0 0-1.414l-7.586-7.586a1 1 0 0 0-1.414 0L9.121 6.293a1 1 0 0 0 0 1.414l7.586 7.586a1 1 0 0 0 1.414 0"></path></svg>
      <div>
        LifeForge<span class="text-4xl text-teal-500"> .</span> API
      </div>
  </h1>
  <% Object.entries(routes).forEach(([route, methods])=> { %>
    <div class="mt-16">
      <h2 class="text-2xl font-semibold mb-4 uppercase tracking-widest border-l-4 border-lime-500 pl-4">
        <%= route.split("-").map(e=> e ? e[0].toUpperCase() + e.slice(1) : "/").join(" ") %>
      </h2>
      <table class="table-auto w-full">
        <thead class="border-b-2 border-zinc-800">
          <tr>
            <th class="px-4 py-4 uppercase tracking-widest w-2/12">Method</th>
            <th class="px-4 py-2 uppercase tracking-widest w-5/12">Path</th>
            <th class="px-4 py-2 uppercase tracking-widest w-5/12">Description</th>
          </tr>
        </thead>
        <tbody>
          <% methods.forEach(({method, path, description})=> { %>
            <tr class="even:bg-zinc-900">
              <td class="px-4 py-2 text-center font-medium tracking-wider <%= (() => {
                switch(method) {
                  case "GET":
                    return "text-blue-500";
                  case "POST":
                    return "text-green-500";
                  case "PUT":
                    return "text-fuchsia-500";
                  case "DELETE":
                    return "text-red-500";
                  case "PATCH":
                    return "text-yellow-500";
                  default:
                    return "text-neutral-500";
                }
              })() %>"><%= method %></td>
              <td class="px-4 py-4 text-zinc-500"><%= path.replace(/:(\w+)/g, '{$1}') %></td>
              <td class="px-4 py-2 text-zinc-500"><%= description %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% }) %>

</body>

</html>